<section id="banner">
  <div class="wrapper">
    <div class="content">
      <h1 class="title"><%= t ".title" %></h1>
      <h2 class="sub_title"><%= t ".sub_title" %></h2>
      <div class="button_wrapper">
        <%= link_to t(".view_more"), "#",class: "button button_highlight" %>
        <%= link_to t(".join_now"), "#",class: "button button_highlight" %>
      </div>
    </div>
  </div>
</section>
